<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        <form action="/index/" method="post">
            <p>
                男：<input type="radio" name="gender" value="1"/>
                女：<input type="radio" name="gender" value="2">
            </p>
            <p>
                <a>兴趣：</a>
                足球<input type="checkbox" name="favor" value="11"/>
                篮球<input type="checkbox" name="favor" value="22"/>
                游泳<input type="checkbox" name="favor" value="33"/>
            </p>
            <p><input type="submit" value="提交"/></p>
        </form>
    </p>

</body>
</html>